.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.cartModal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30rem;
    padding: 1rem;
    list-style: none;
}

.cartModal > div {
    position: relative;
}

.cartModal img {
    position: absolute;
    top: -22px;
    right: 0;
}

.addNewRestaurantForm select {
    height: 30px;
    width: 200px;
    border-color: #dbdad5;
}

.backgroundBtn::before {
    background-color: var(--color-primary);
}

.backgroundBtn:hover::before {
    background-color: var(--color-primary);
}


