.addReviewForm select {
    width: 200px;
}

.addReviewForm h3 {
    position: relative;
    margin: 2rem 0;
}

.addReviewForm h3:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    width: 78px;
    background: black;
    display: block;
}

.addReviewForm > div:last-child {
    margin-top: 2rem;
}

.backgroundBtn::before {
    background-color: var(--color-primary);
}

.backgroundBtn:hover::before {
    background-color: var(--color-primary);
}
