.formFilter {
    display: flex;
    align-items: baseline;
}

.formFilter > div {
    display: flex;
}

.formFilter h4 {
    margin: 0 1rem 0 0;
}

.selectContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.selectContainer select {
    padding: 0.2rem;
    margin: 0 0.3rem;
    border-radius: 10px;
}

.backgroundBtn::before {
    background-color: var(--color-primary);
}

.backgroundBtn:hover::before {
    background-color: var(--color-primary);
}

.select:after {
    border-bottom: 2px solid var(--color-primary) !important;
}

.inputLabel {
    display: none;
}