.formFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formFilter > div {
    display: flex;
}

.formFilter > div:last-child {
    align-items: baseline;
}

.formFilter h4 {
    margin-top: 5px;
    margin-bottom: 1rem;
}

.formFilter button {
    height: max-content;
}

.selectContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.selectContainer select {
    padding: 0.2rem;
    margin: 0 0.3rem;
    border-radius: 10px;
}

.backgroundBtn::before {
    background-color: var(--color-primary);
}

.backgroundBtn:hover::before {
    background-color: var(--color-primary);
}

.btnAddRestaurant {
    margin-left: 3rem;
    margin-bottom: 11px;
}

.select:after {
    border-bottom: 2px solid var(--color-primary) !important;
}

.inputLabel {
    display: none;
}