.mapAndListContainer, section {
    display: flex;
    justify-content: center;
    /*margin-top: 2rem;*/
}

.list {
    padding-right: 1rem;
}

.filterSection {
    padding: 1rem 0;
    border-top: 1px solid #aea2a2;
    border-bottom: 1px solid #aea2a2;
}